.article_longform {
  padding: 0;
}

@media (max-width: 768px) {
  .article_longform {
     margin-right: 70px;
     padding-left: 50px;

  }
  .article_longform :nth-of-type(1) {
    margin-bottom: 0;
  }
  .section_more_news > header +:nth-of-type(1) {
    margin-bottom: 0;
  }
  }


