@font-face {
    font-family: 'roboto';
    font-weight: 700;
    src: local('roboto-Black');
    src: url('../fonts/roboto-bold.woff2') format('woff2'), /* IE6-IE8 */
    url('../fonts/roboto-bold.woff') format('woff'),
}

@font-face {
    font-family: 'roboto';
    font-weight: 400;
    src: local('roboto-Regular');
    src: url('../fonts/roboto-regular.woff2') format('woff2'), /* IE6-IE8 */
    url('../fonts/roboto-regular.woff') format('woff'),
}